.vs/
*.suo
*.user
*.pdb
*.obj
*.o
*.ncb
*.resource
*.aps
*.bsc
*.sbr
*.tlb
*.tlh
*.tmp
*.log
*.bak
*.old
*.ilk
*.msi
*.msp
*.res

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.dll
*.exe
*.int
*.ncb
*.user
*.config
*.log
*.cache
*.publish
*.vssscc
*.vspscc
*.csproj.user
*.jfm
*.vdm
*.testsettings
*.trx
*.webtest
*.csdproj
*.builds
*.targets
*.refresh

packages/
*.nupkg
project.lock.json

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.yarn/
.npm/

resources/  # often generated during build
dist/       # output of UI5 build
.project
.settings/
.classpath

.idea/

*.usersecrets

*.log

.vscode/

temp/
*.tmp
*~